<link rel='stylesheet' href='/stylesheets/style_index.css' />
<p>Welcome to {{title}}</p>
<div id="main">
        <p id="head"><u>Welcome to my Assignment 3 App!</u></p> 
        <br>
        <br>
        <p id="info1" class="info">Some of the Routes you can use in this App include:</p>
        <div id="list_box">
        <ol id="list">
            <li>/users</li>
            <li>/data</li>
            <li>/data/isbn/{index}</li>
            <li>/data/search/isbn</li>
            <li>/data/search/title</li>
            <li>/data/allData</li>
            <li>/data/allData/noZero</li>
            <li>/data/allData/highlight</li>
        </ol>
        </div>
        <br>
        <p id="info2" class="info"><u>Be mindful, using the incorrect Route will result in a Status Error!</u></p>
    </div>