<footer id="dynamic_footer" class="footer" style="margin-top: 18%;">
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p>Copyright © Omar Hussein</p>
            </div>
            <div class="col-md-6 text-md-end">
                <span class="text-muted mx-2">e-mail: <a
                        href="mailto: ohussein2@myseneca.ca">ohussein2@myseneca.ca</a></span>
                <span class="text-muted mx-2">|</span>
                <span class="text-muted mx-2">STD_ID: <a
                        href="https://my.senecacollege.ca/webapps/portal/execute/tabs/tabAction?tab_tab_group_id=_15_1"
                        target="_blank">118073204</a></span>
            </div>
        </div>
    </div>
</footer>