<!DOCTYPE html>
<html lang="en" style="background-color: lightgrey;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="main" style=   "width: 40%;
                            text-align: center;
                            margin-left: auto;
                            margin-right: auto;
                            font-size: 16pt;
                            border: black solid 2px;
                            box-shadow: black 0 4px 20px;
                            background-color: lightblue;">
        <p id="head" style="font-size: 25pt;"><u>Welcome to my Assignment 2 App!</u></p> 
        <br>
        <p> <u>Name : Omar Hussein</u>
            <br>
            <u>Stident ID : 118073204</u>
        </p>
        <br>
        <p>Some of the Routes you can use in this App include:</p>
        <div style=    "width: 40%;
                        margin-left: auto;
                        margin-right: auto;">
        <ol style=  "text-align: left;
                    border: solid red 2px;
                    color: darkblue;
                    font-size: 13pt;
                    font-family: 'Courier New', Courier, monospace;">
            <li>/data</li>
            <li>/data/isbn/{index}</li>
            <li>/data/search/isbn</li>
            <li>/data/search/title</li>
        </ol>
        </div>
        <br>
        <p><u>Be mindful, using the incorrect Route will result in a Status Error!</u></p>
    </div>
</body>
</html>