<div id="main">
    <div class="p-5 my-4 bg-light rounded-3">
        <h1><u>Welcome to my Simple API!</u></h1>
        <p class="lead">
            This is a Simple API which will get books that match your search pattern in the Dashboard.
            <br>
            This API requires you to register an account before being able to use it.
        </p>
        <p>
            Be mindful:
            <br>
            Using the incorrect Route will result in a Status Error!
            <br>
            Attempting to search without creating an account will not result in anything!
        </p>
    </div>
</div>